@import "./theme.css";
@import "./components/header.css";
@import "./components/main.css";
@import "./components/card.css";
@import "./components/footer.css";
@import "./components/button.css";
@import "./components/navigation.css";

/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}
