react/react-data-fetching/react-data-fetching_star-wars/package-lock.json
react/react-data-fetching/react-data-fetching_star-wars/pages/characters/[id].js
react/react-data-fetching/react-data-fetching_star-wars/pages/characters/\[id].js
