.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--green {
  background-color: rgb(160, 248, 160);
}

.card--red {
  background-color: lightcoral;
}

.card--yellow {
  background-color: rgb(251, 240, 159);
}

.card--purple {
  background-color: rgb(156, 104, 156);
}
